:root{
--bool-header-bg-color: orange;
--bool-footer-bg-color: black;
--bool-footer-txt-color: white;
--bool-price: red;
}

/* #region common */

*{
    margin: 0%;
}

a{
    text-decoration: none;
    color: white;
    margin-right: 0.25rem;
}

img {
    max-width: 100%;
    max-height: 100%;
}
/* #endregion */

/* #region utility */

.price{
    color: var(--bool-price);
    font-weight: bolder;
}

.original-price{
    text-decoration: line-through;
    font-weight: lighter;
}

/* #endregion */

/* #region header */

header{
    background-color: var(--bool-header-bg-color);
    position: fixed;
    top: 0%;
    width: 100%;
}

.navigation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 3rem;
}

.logo{ 
    height: 1.5rem;
}

/* #endregion */

/* #region main */

.showcase{
    margin: 10% 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.case{
    display: block;
    max-height: 50%;
    max-width: 30%;
}

/* #endregion */

/* #region footer */

footer{
    background-color: var(--bool-footer-bg-color);
    color: var(--bool-footer-txt-color);
    position: fixed;
    bottom: 0%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 4rem;
    border-bottom: 2px solid gray;
}
/* #endregion */