:root{
--bool-header-bg-color: orange;
--bool-footer-bg-color: black;
--bool-footer-txt-color: white;
--bool-price: red;
--bool-discount-bg-color: red;
--bool-discount-color: white;
--bool-ecologic-bg-color: green;
--bool-ecologic-color: white;


}

/* #region common */

*{
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: white;
    margin-right: 0.25rem;
}

img {
    max-width: 100%;
    max-height: 100%;
}



/* #endregion */

/* #region utility */

.brand{
    font-size: xx-small;
    font-weight: lighter;
}

.dress-name{
font-size: large;
font-weight: bold;
}

.price{
    color: var(--bool-price);
    font-weight: bolder;
}

.original-price{
    text-decoration: line-through;
    font-weight: lighter;
}

.heart{
    position: absolute;
    top: 2%;
    right: 0%;
    background-color: white;
    padding: 0.5rem 0.5rem 0.25rem;
}

.heart:hover{
    fill: red;
}

.tags{
    position: absolute;
    top: 85%;
    display: flex;
    gap: 0.25rem;
    font-size: x-small;
}

.discount{
    color: var(--bool-discount-color);
    background-color: var(--bool-discount-bg-color);
    padding: 0.25rem .5rem;
}

.ecologic{
    color: var(--bool-ecologic-color);
    background-color: var(--bool-ecologic-bg-color);
    padding: 0.25rem .5rem;
}

/* #endregion */

/* #region header */

header{
    background-color: var(--bool-header-bg-color);
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 10000;
}

.navigation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 3rem;
}

.logo{ 
    height: 1.5rem;
}

/* #endregion */

/* #region main */

.showcase{
    margin: 10% 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.case{
    max-height: 50%;
    max-width: 30%;
    margin-bottom: 2rem;
}

.img-content{
    position: relative;
}

.img1-hover:hover{
    content: url(../img/1b.webp);
}

.img2-hover:hover{
    content: url(../img/2b.webp);
}

.img3-hover:hover{
    content: url(../img/3b.webp);
}

.img4-hover:hover{
    content: url(../img/4b.webp);
}

.img5-hover:hover{
    content: url(../img/5b.webp);
}

.img6-hover:hover{
    content: url(../img/6b.webp);
}


/* #endregion */

/* #region footer */

footer{
    background-color: var(--bool-footer-bg-color);
    color: var(--bool-footer-txt-color);
    position: fixed;
    bottom: 0%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 4rem;
    border-bottom: 2px solid gray;
    z-index: 10000;
}
/* #endregion */